/* css property */
/* default values: 
    backgorund color: transperant ;
    color:black;
    font-family: ;
    font-size (p):16px;
    font-weight(p): normal;
    font-weight(h1-h6): bold;
    font-style:normal;
    text-decoration(for all elememt except a):none;
    text-decoration(a):underline;
    text-align:left;
*/
.abc{
    color: red;
    background-color: yellow;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px ;
    font-weight: bold;
    font-style:italic;
    text-decoration: underline;
    text-align: center;
    line-height:100px ;
}
/* line-height: space above and below the line 
we can specify line-height with absolute value */