p{
    color:brown;
    background-color: aqua;
}
#abc{
    color:green;
    background-color:azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.xyz{
    color:blue;
    background-color: beige;
}

